{% extends 'includes/base.html' %}
{% load staticfiles %}
{% block title %}Flights{% endblock %}

{% block body %}
    <div class="page-body" style="margin-bottom: -30px">
    <div class="section flights-main">
    <div class="video-container">
        <p>Find your Royal destination</p>
        <!-- <div class="color-overlay"></div> -->
        <div class="search">
            <div class="flights-menu">
                <ul>
                    <li class="btn btn-primary" data-filter="*">All</li>
                    <li class="btn btn-outline-primary" data-filter=".Dubai">Dubai</li>
                    <li class="btn btn-outline-primary" data-filter=".London">London</li>
                    <li class="btn btn-outline-primary" data-filter=".Paris">Paris</li>
                    <li class="btn btn-outline-primary" data-filter=".USA">USA</li>
                    <li class="btn btn-outline-primary" data-filter=".Turkey">Turkey</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <!--vedioooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
        <div class="flights-list flights-item row text-center">
            {% for flight in flights %}
                <div class="item {{ flight.7 }} col-lg-3">
                    <div class="dropdown">
                        <div class="dropbtn">
                            <b>{{ flight.7 }}</b>
                            <br>
                            <img src="{% static 'static/images/'%}{{ flight.7 }}.jpg" class="rounded-circle" alt="{{ flight.7 }}">
                        </div>
                        <div class="dropdown-content">
                            ON: {{ flight.2 }}
                            <hr />
                            At: {{ flight.8 }}
                            <hr />
                            Arrives At: {{ flight.9 }}
                            <hr>
                            {% if request.session.client %}
                                <a href="/user-flights/reserve/{{ flight.0 }}">Reserve</a>
                            {% else %}
                                <a href="/sign">Reserve</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    <!--
    <pre>
        {% for flight in flights %}
            {{ flight.0 }}
            {{ flight.1 }}
            {{ flight.2 }}
            {{ flight.3 }}
            {{ flight.4 }}
            {{ flight.5 }}
            {{ flight.6 }}
            {{ flight.7 }}
            {{ flight.8 }}
            {{ flight.9 }}
        {% endfor %}
    </pre>
    -->
    </div>
{% endblock %}