{% extends 'includes/base.html' %}
{% block title %}Sign In / Up{% endblock %}

{% block body %}
<div class="sign-page">
    <div class="page-body">
        <div class="container login-page">
            <h1 class="text-center">
                <span class="selected" data-class="login">Log In</span> |
                <span data-class="signup">Sign Up</span>
            </h1>
            <form class="login" method="post" action="signin">
                {% csrf_token %}

                <input type="text" class="form-control" placeholder="Enter Your Name" name="name"  autocomplete="off" required>
                <input type="password" class="form-control" placeholder="Enter password" name="password"  autocomplete="new-password" required>
                <input type="submit" class="btn btn-primary btn-block" value="Log In">
            </form>
            <form class="signup" method="post" action="signup">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Enter Your Name" name="username"  autocomplete="off" required>
                <input type="password" class="form-control"  placeholder="Enter password" name="pass1"  autocomplete="new-password" required>
                <input type="password" class="form-control"  placeholder="Re-Enter password" name="pass2"  autocomplete="new-password" required>
                <input type="email" class="form-control"  placeholder="Enter email" name="email"  autocomplete="off" required>
                <input type="text" class="form-control"  placeholder="Enter Adress" name="Adress"  autocomplete="off" required>
                <input type="text" class="form-control"  placeholder="Enter Phone number" name="phonenumber"  autocomplete="off" required>
                <input type="text" class="form-control"  placeholder="Enter Credit number" name="creditnumber"  autocomplete="off" required>
                <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
            </form>
        </div>
    </div>
</div>
{% endblock %}